<nav class="navbar navbar-expand-custom navbar-mainbg header">
       <div class="logo">
             <a href="{{ site.baseurl }}"><img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
    </div>
    <div class="logo-mobile">
       <a href="{{ site.baseurl }}"><img width="{{ site.logo.mobile_width }}" height="{{ site.logo.mobile_height }}" alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" /></a>
    </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i>Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/formations/"><i class="far fa-clone"></i>Formation </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team/"><i class="far fa-address-book"></i>Equipe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/"><i class="far fa-calendar-alt"></i>A propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact/"><i class="far fa-chart-bar"></i>Contacts</a>
                </li>
            </ul>
        </div>
    </nav>


